.para1 {

    color: #000000;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    margin-left: 25%;
    margin-right: 25%;
    text-indent: 20px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    text-indent: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 12px;
    margin-top : 4px;
    /*text-shadow: 4px 1px 8px rgba(194, 30, 30, 0.63); */
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(2deg, rgb(0, 0, 0) 75%, rgb(243, 255, 241) 100%);
    background: -webkit-linear-gradient(2deg, rgb(0, 0, 0) 75%, rgb(243, 255, 241) 100%);
    background: -o-linear-gradient(2deg, rgb(0, 0, 0) 75%, rgb(243, 255, 241) 100%);
    background: -ms-linear-gradient(2deg, rgb(0, 0, 0) 75%, rgb(243, 255, 241) 100%);
    background: linear-gradient(272deg, rgb(0, 0, 0) 75%, rgb(243, 255, 241) 100%);
    -webkit-box-shadow: -2px 1px 6px rgba(173, 37, 30, 0.56);
    -moz-box-shadow:    -2px 1px 6px rgba(173, 37, 30, 0.56);
    box-shadow:         -2px 1px 6px rgba(173, 37, 30, 0.56);
}
.para2 {
    margin-left: 45px;
    color: #000000;
    font-family: Times New Roman;
    font-size: 33px;

}
