<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <link th:href="@{/main.css}" rel="stylesheet"/>
    <title>название тип узнайка</title>
    <style>
        body {


            background: #ffffff; /* Цвет фона и путь к файлу */

        }
    </style>
</head>
<body>

<h1 class="para1">Ну тут вроде сейчас где-то будет рассказываться про информационные технологии, так что надень очки и читай. Я не уверен что это будет интересно, эти вопросы не ко мне</h1>
<p><a class="para2" href="inf1.html">Информационная технология обработки данных</a></p>
<p><a class="para2" href="inf2.html">Информационная технология управления</a></p>
<p><a class="para2" href="inf3.html">Информационная технология экспертных систем</a></p>
<p><a class="para2" href="inf4.html">Геоинформационные технологии</a></p>
</body>
</html>
