<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link th:href="@{/inf.css}" rel="stylesheet"/>
    <title>Информационная технология экспертных систем</title>
    <style>
        body {
            background: #ffffff;

        }
    </style>
</head>

<body>
<h1 class="para3">Информационная технология экспертных систем</h1>

<h1 class="para1">Цель:</h1>
 <p class="para2">Возможность предоставления специалистам экспертных консультаций по проблемам в тех областях знаний, на которые ориентированы эти системы.</p>
<h1 class="para1">Применение:</h1>
 <p class="para2">Экспертные системы разрабатываются для использования в узких областях знаний, т.к. требуют мощных вычислительных ресурсов и значительного объема памяти для хранения информации. ЭС используют базу знаний в определенной области и основаны на использовании искусственного интеллекта.</p>

<h1 class="para1">Особенности:</h1>
 <p class="para2">&bull;используют базу знаний, сформированную человеком в отдельной области;</p>
 <p class="para2">&bull;способны сформировать решения без участия человека и часто превосходят его возможности;</p>
 <p class="para2">&bull;способны пояснить свое решение.</p>
<p class="para2">Основными компонентами информационных экспертных систем являются: интерфейс пользователя, база знаний, интерпретатор, модуль создания системы.</p>
</body>

</html>